.sidebarfriend{
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
}
.sidebarfriend > div{
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
.sidebarfriendimg{
    width: 2em;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}