.topbarcontainer{
    height: 3em;
    width: 100%;
    background-color: #c91f1f;
    display: flex;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 999;
    font-family: 'Barlow', sans-serif;

   }

   .logo{
      font-size: 1.2rem;
    letter-spacing: 10px;
    margin-left: 2em;
    font-weight:600;
    color: aliceblue;
    cursor: pointer;
    background-color: #c91f1f;
    display: flex;
    flex-shrink: inherit;
}

@media (max-width: 1300px) {
    .logo {
    letter-spacing: 7px;

      font-size: 1rem;
    }
}

@media (max-width: 1070px) {
   .logo {
   letter-spacing: 7px;

     font-size: 0.7rem;
   }
}

.topbarleft{
   flex:3;
   /* background-color: aquamarine; */
   background-color: #c91f1f;
   margin-right: 7.5rem;
}
.topbarcentre{
    flex:5; 
   /* background-color: rgb(20, 48, 255); */
   background-color: #c91f1f;
/* background-color: blue; */

 }

 .searchbar{
    width: 100%;
    height: 2em;
    /* background-color: rgba(17, 15, 15, 0.604);  */
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 3rem;
 }
 .searchicon{
    font-size: large !important;
    margin: 1em;
    
 }
 .searchicon:focus{
    outline:none;
 }
.searchinput{
    border: none;
    width: 70%;
    outline:none;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 3px;

}

.searchresults{
   list-style: none;
   /* display: flex; */
   /* padding: 0.5rem; */
   padding-top: 0.3rem;
   border-radius: 5px;
   position: absolute;
   /* justify-content: center; */
   /* align-items: center; */
   text-align: left;
   width: 30.5%;
   height: auto;
   z-index: 10;
   cursor: pointer;
   padding-right: 0.7rem;
   /* padding-left: 3.4rem; */
   transform: translate(0.4%, -3.1%);
   top: 45px;
   font-size: 0.8rem;
   /* background-color: pink; */
   /* transform: translateY(150%); */
}

.searchresults li {
   /* margin-left: -2.1rem; */
   /* background-color: pink; */
   padding-left: 0.9rem;
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
}
.searchresults li:hover {
   background-color: rgba(186, 185, 185, 0.448);
   border-radius: 8px;
}

li .searchIconResult {
   font-size: 0.9rem;
   margin-right: 1rem;
   background-color: transparent;
   text-align: center;
}
 .topbarright{
    display: flex;
    flex:4;
   background-color: #c91f1f;

   align-items: center;
   justify-content: space-around;
   margin-left: 10rem;

 }
 .topbarlink{
    /* margin-right: 2em; */
    font-size: small;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: #c91f1f;

 }
 .topbarlinks{
    background-color: #c91f1f;
    
    
   }
   @media (max-width: 1060px) {
     .topbarlink {
        font-size: 0.5rem;
     }
   }
 .topbaricons{
    display: flex;
   background-color: rgb(153, 0, 0);

 }
 .topbariconitem{
    margin-right:2em;
    cursor: pointer;
    position: relative;
   background-color: rgb(153, 0, 0);

 }

 .topbariconbadge{
    width: 2em;
    height: 2em;
    background-color: rgb(153, 0, 0);
    border-radius: 50%;
    color: aliceblue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    top:-1em;
    right: -1em;
 }

 .topbarimg{
    height:35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    background-color: #c91f1f;
 }

 .rightlinks{
   margin-right: 2em;
   font-size: medium;
   font-family: 'Barlow', sans-serif;
   font-weight: bold;
   letter-spacing: 2px;
   background-color: #c91f1f;
   text-decoration: none;

 }