.post{
    /* box-shadow: 1px 1px 72px 12px rgba(0,0,0,0.52); */
    /* -webkit-box-shadow: 1px 1px 72px 12px rgba(0,0,0,0.52); */
    /* -moz-box-shadow: 1px 1px 72px 12px rgba(0,0,0,0.52); */
    border-radius: 10px;
    width: 100%;
    /* background-color: red; */
    /* border: 2px solid green; */
    margin-top: 1em;
}


.postwrapper{
    padding: 1em;
    margin:2rem;
    border-radius: 20px;


}
.posttop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posttopleft{
    display: flex;
    align-items: center;
}

.postprofileimg{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    object-fit: cover;
}
.postusername{
    font-size: medium;
    font-weight: 500;
    margin: 0 0.8rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;

}
.postdate{
    font-size: small;
    font-weight: 400;
    margin-top: 0.1rem;
    letter-spacing: 0.1rem;
}
.postcentre{
    margin: 0.5rem 0;
}

.postimg{
    margin-top: 1rem;
    width: 100%;
    /* width: auto; */
    border-radius: 20px;
    max-height: auto;
    object-fit: contain;
}
.postbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 40%;
    width: 10rem;
    /* padding: 0; */
}

.postbottomleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    height: 2rem;


} 

.likebutton{
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: aliceblue; */
    margin: 0.1rem 0.7rem;

    cursor: pointer;
    position: relative;
    /* left: 50%; */
    /* mix-blend-mode:multiply; */
    transition: all 0.2s ease-in-out;

}

.likebutton:hover{
    width: 1.8rem;
    height: 1.8rem;
    transition: all 0.2s ease-in-out;
}


.commentbutton{
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: aliceblue; */
    margin: 0 0.7rem;
    cursor: pointer;
    /* mix-blend-mode:luminosity; */
}
.sharebutton{
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: aliceblue; */
    margin: 0 0.7rem;

    cursor: pointer;
    /* mix-blend-mode:multiply; */
}
.postlikecounter{
    font-size: small;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.postgif.liked {
    /* background-image: */
    transition: all 0.2s ease-in-out;
    padding: 0.5rem;
    background-color: rgb(255, 0, 0);
    /* background-image: url("../../../public/assets/imageone.png"); */
    border-radius: 50px;
    /* Add other styling as needed */
    transform: scale(1.02);
    margin: 0.5rem;
  }

  .gifremove{

    transition: all 0.2s ease-in-out;
    /* background-color: rgb(0, 0, 0); */
    /* background-image: url("../../../public/assets/posts/post8.png"); */

    padding: 0.5rem;
    border-radius: 50px;
    background-image: none;

  }