.sidebar{
    flex:3;
    height: calc(100vh - 3em);
    /* height: 40px; */
    /* background-color: aqua; */
    /* background-color: rgb(15, 15, 15); */
    background-color: #c91f1f !important;

    font-family: 'Barlow', sans-serif;
    overflow-y: scroll;
    position: sticky;
    top:3rem;
}

::-webkit-scrollbar{
    width: 0px;

}
::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    background-color: #c91f1f;


}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    background-color: #c91f1f;


}

.sidebarwrapper{
    padding: 1em;
    /* background-color: blue; */

}
.sidebarlist{
    padding: 0;
    margin-top:2rem;
    list-style: none;

}
.sidebarlistitem{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin: 1em;
    margin-bottom: 4em;
    font-size: 1.4em;
    letter-spacing: 5px;
}

.sidebarlistitemtext:hover {
    color: #c91f1f;
    transition: 20;

}
.sidebaricon{
    margin-right: 2em;
    
}

.sidebarbutton{
    width:4em;
    height: 2rem;
    border: none;
    padding-bottom: 0.2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    
}
.sidebarhr{
    margin:1rem;
    margin-bottom: 2rem;
}
.sidebarfriendlist{
    padding:0;
    margin-left:1rem;
    list-style: none;
    font-size: larger;
}
/* .sidebarfriend{
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
}
.sidebarfriendimg{
    width: 2em;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
} */


@media (max-width: 900px) {
    .sidebarlistitemtext {
        font-size: 0.9rem;
letter-spacing: 3px;

    }
    .sidebaricon{
        margin-right: 0.8rem;
    
    }
}

@media (max-width: 700px) {
    .sidebarlistitemtext {
        /* font-size: 0.8rem; */
/* letter-spacing: 1.5px; */
display: none;

    }
    .sidebaricon{
        margin-right: 0.5rem;
    
    }
}
