.share{
    width: 100%;
    /* height: 30vh; */
    background-color: #c91f1f;
    /* overflow:scroll; */
    /* overscroll-behavior:contain; */
    /* scroll-behavior: smooth; */
    /* border: 5px solid green; */
    border-radius: 15px;
    /* box-shadow: 1px 1px 72px 12px rgba(0,0,0,0.52); */
    /* -webkit-box-shadow: 1px 1px 72px 12px rgba(0,0,0,0.52); */
    /* -moz-box-shadow: 1px 1px 72px 12px rgba(0,0,0,0.52); */

}

.sharewrapper{
    padding: 1em;
    background-color: #c91f1f;
    border-radius: 50px;

    

}
.sharetop{
    display: flex;
    align-items: center;
    background-color: #c91f1f;
    

}
.shareprofileimg{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
}
.shareinput{
    border: none;
    width: 80%;
    background-color: #c91f1f;
    font-size: small;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 2.5px;

}

.shareinput::placeholder{
    color: rgb(212, 212, 212);
}

.shareinput:focus{
    outline: none;
}
.sharehr{
    margin: 1rem;
}
.sharebottom{
    display:flex;
    align-items: center;
    background-color: #c91f1f;
    justify-content: space-between;



}
.shareoptions{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #c91f1f;
    height: 50px;
    width: 50px;

}
.shareoption{
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size:larger;
    background-color: #c91f1f;
    cursor: pointer;



}
.shareicon{
    background-color: #c91f1f;
    height: 30px;
    width: 50px;
    transform: scale(1.5);

    

}

.shareicon:hover{
    transform: scale(1.75);
    transition: 0.1s ease-in-out;

}

.shareoptiontext{
    font-size: medium;
    font-weight: 500;
    /* color: black; */
    background-color: #c91f1f;

}
.dropbutton{
    border: none;
    padding: 1rem;
    border-radius: 7px;
    margin-top: 0.5em;
    margin-right: 2rem;
    font-weight: 500;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 2.5px;
    transition: 0.3s ease-in-out;

}

.dropbutton:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.shareimgcontainer{
    padding: 0 1.5rem 0.8rem 1.5rem;
    position: relative;
}

.shareimg{
    width: 100%;
    object-fit: cover;
}

.sharecancelimg{
   position: absolute;
    top: 0;
    right: 1.5rem;
    cursor: pointer;

}